div.icon32 { background-image : url(../images/icon-32.png); background-repeat: no-repeat;}
#poststuff { margin-right: 20px; }
#poststuff input.error, #poststuff select.error { border: 1px solid red; background-color : #FEE; } 
#poststuff div#message { margin-left: 10px; display: inline; padding: 10px; }
#poststuff div#message div.updated { margin-left: 30px; padding: 8px; display: inline; }
#poststuff label { display: inline-block; min-width: 200px; margin-right: 10px;}

.trademark { vertical-align: top; border: 1px dashed whitesmoke; }
.trademark:hover { cursor: move; }

/* tooltips */
.tooltip {position: relative; cursor: help; display: inline-block; text-decoration: none;
color: #222; outline: none; }
.tooltip span { visibility: hidden; position: absolute; bottom: 25px; left: 50%;
z-index: 999; width: 250px;margin-left: -27px; padding: 10px;border: 2px solid #ccc;
opacity: .9;background-color: #ddd;
background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
-moz-border-radius: 4px;border-radius: 4px;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
text-shadow: 0 1px 0 rgba(255,255,255,.4);
}
.tooltip:hover { border: 0; /* IE6 fix */ }
.tooltip:hover span { visibility: visible;}
.tooltip span:before,
.tooltip span:after { content: ""; position: absolute; z-index: 1000; bottom: -7px; left: 5%;margin-left: 8px;
border-top: 8px solid #ddd;border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 0; }
.tooltip span:before {border-top-color: #ccc;bottom: -8px;}
